* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
    background-color: #060915;
    color: white;
    font-family: Montserrat;
    overflow-x: hidden;

}

.nav-links ul li a {

    color: white;
    text-decoration: none;

}

.nav-logo {
    margin-left: 2em;
    margin-top: 1em;
}

.home-btns {
    position: absolute;
    right: 8em;
    margin-top: -70px;
    padding: 0px
}

.nav-links {
    margin-left: 12em;
}

.nav-links ul li {
    display: inline-block;
    padding: 3.2em;
}

@font-face {
    font-family: Montserrat;
    src: url(Assests/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.home {
    height: 120vh;
}

.nav-logo {
    position: absolute;
    top: 1.6em;
    left: 1.5em;
}

.hamburger-icon {
    display: none;
    position: absolute;
    top: 2em;
    right: -2.5em;
}

.home-hero-ctnt {
    position: absolute;
}

.home-hero-txt h1 {
    font-size: 3em;
    line-height: 1.1em;
}

.home-hero-txt h1 span {
    color: #34B6FF;
}

.home-hero-txt h2 {
    font-weight: 300;
}

.get-started-btn {
    text-decoration: none;
    color: black;
    background-color: #34B6FF;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
}

.login-btn {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 20px 12px 20px;
    margin-left: 0.5em;
    font-size: 18px;
}

.register-btn {
    color: white;
    text-decoration: none;
    margin-left: 3em;
    background-color: #065AFF;
    padding: 15px 25px 15px 25px;
}

.social-media ul li {
    list-style-type: none;
}



.home-hero-ctnt {
    position: absolute;
    margin-left: 4em;
    margin-top: 2em;
}

.home-hero-txt h1 {
    font-size: 4em;
    width: 12.4em;
    line-height: 1em;
}

.home-hero-txt h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
    width: 30em;
}

.home-main-btns {
    margin-top: 2.2em;
}

.hero-img-home {
    position: absolute;
    right: -35em;
    top: 0em;
}

.social-media {

    position: absolute;
    left: 85em;
    height: 12em;
    width: 3em;
    background-color: #131829;
    border: 1px solid white;
}

.social-media ul li {
    padding: 8px;

}

.social-media ul li {
    display: inline-block;
}

.about-us {
    height: 100vh;
}

.ctnt-wrapper {
    position: absolute;
    margin-top: 10em;
    left: 15em;
}

.ctnt-wrapper h1 {
    font-size: 4em;
    width: 10em;
    line-height: 1em;
}

.ctnt-wrapper h1 span {
    color: #3CB7FD;
}

.ctnt-wrapper h2 {
    margin-top: 0.6em;
    font-weight: 200;
    width: 30em;
    line-height: 1.5em;
}

.bg-overlay-txt-2 {
    position: absolute;
    font-size: 9em;
    right: 1em;
    background: linear-gradient(177.58deg, #FFFFFF 2.03%, rgba(255, 255, 255, 0) 103.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    mix-blend-mode: overlay;
}

.bg-grid-line-about-us {
    position: absolute;
    margin-left: 3em;
    height: 50em;
    width: 0.2em;
    background-color: white;
}

.one-cloud-bg-txt {
    position: absolute;
    margin-top: 32em;
    margin-left: -3.5em;
    background-color: #060915;
    padding: 0px 25px 0px 25px;
    transform: rotate(90deg);
}

.down-arrow {
    position: absolute;
    right: 9em;
    margin-top: 30em;
}

.services-main-container {
    position: absolute;
    margin-top: 15em;
}

.services-main-container h1 {
    font-size: 4.5em;
    width: 10em;
    line-height: 1em;

}

.services-main-container h1 span {
    color: #34B6FF;
}

.services-main-container h2 {
    font-weight: 300;
    font-size: 30px;
    width: 20em;
    margin-top: 0.5em;
}

.service-hero-img {
    position: absolute;
    left: 50em;
    margin-top: -26em;
}

.services-main-txt-container {
    margin-left: 2.8em;
}

.services-main-container {
    position: relative;
    height: 70vh;
}

.service-hero-txt {
    position: relative;
    height: 20vh;
}

.service-hero-txt-container {
    margin-top: 6em;
}

.service-hero-txt-container h1 {
    font-weight: 800;
    font-size: 6em;
    margin-left: 0.8em;
}

.service-hero-main-txt-sub {
    position: absolute;
    right: 3em;
    width: 20em;
    margin-top: -6em;
    font-weight: 400;
}

.rtmp-container {
    height: 60vh;

    margin-top: 5em;
}

.rtmp-container-txt {
    position: absolute;
    margin-left: 5em;
    margin-top: 80px;
}

.rtmp-img {
    position: absolute;
    right: 15em;
}

.rtmp-container-txt h1 {
    font-size: 4em;
    width: 12em;
    line-height: 1em;
}

.rtmp-container-txt h2 {
    font-size: 1.2em;
    font-weight: 300;
    width: 38em;
    margin-top: 1em;

}


.srt-container {
    height: 60vh;

}

.srt-container-txt {
    position: absolute;
    left: 35em;
    margin-top: 80px;
}

.srt-img {
    position: absolute;
    left: 2em;
}

.srt-container-txt h1 {
    font-size: 4em;
    width: 12em;
    line-height: 1em;
}

.srt-container-txt h2 {
    font-size: 1.2em;
    font-weight: 300;
    width: 38em;
    margin-top: 1em;

}

.supported-formats {
    margin-top: 2em;
    height: 60vh;
    width: 190em;
    background-color: #202434;
}

.supported-formats h1 {
    font-size: 3em;
    margin-left: calc(100% - 80%);
    padding-top: 1em;
}

.support-formats-icons-container {
    padding-top: 2em;
    animation: 40s infinteAnimation infinite;
}

.support-formats-icons-container ul li {
    display: inline-block;
    overflow: hidden;
}

.support-formats-icons-container ul li {
    padding: 1em;
}

.end-page {
    height: 100vh;
}

.end-hero-txt-container {
    position: absolute;
    margin-left: 45em;
    margin-top: -35em;
}

.end-hero-txt-container h1 {
    font-size: 4.5em;
    line-height: 1em;
    width: 8em;
}

.end-hero-txt-container h2 {
    padding-top: 1em;
    font-weight: 200;
    width: 25em;
}

.end-btn-container {
    margin-top: 4em;
    margin-top: 2em;
}

.end-get-started-btn {

    text-decoration: none;
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: #34B6FF;
    outline: none;
    font-size: 1.2em;
}

.end-about-us-btn {
    padding: 15px 20px 15px 20px;
    border: 2px solid white;
    margin-left: 1em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.end-hero-txt-container h1 span {
    color: #34B6FF;
}

.footer {
    margin-top: 8em;
    height: 70vh;
    background-color: #202434;
}

.footer-upper-container-left {
    position: absolute;
}

.footer-upper-container-right {
    position: absolute;
    right: 0;
}

.footer-lower-container {
    position: absolute;
    padding-top: 4em;
}

.footer-upper-container-left {
    margin-top: 3em;
    margin-left: 3em;
}

.footer-get-started-btn {
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
    background-color: #34B6FF;
    outline: none;
    margin-top: -2em;
    margin-left: 5em;
}

.footer-logo {
    position: absolute;
    margin-top: -0.4em;
}

.footer-upper-container-right {
    margin-top: 3em;
    margin-right: 5em;
}

.footer-upper-container-right h2 a {
    color: white;
}

.footer-lower-container-right {
    position: absolute;
    margin-top: -9em;
    right: -40em;
}

.footer-lower-container-left {
    width: 23em;
    margin-left: 2em;
    margin-top: 8em;
}

.footer-lower-container-left h2 {
    font-weight: 500;
}

.social-media-icons-footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1em;
    margin-right: -0.5em;
    background-color: #636363;
    border-radius: 100%;
    transform: scale(0.8);
}

.link-list-right {
    position: absolute;
    margin-top: -9em;
    width: 100%;
    margin-left: 15em;
}

.link-list-left ul li {
    list-style: none;
    padding-top: 1em;
}

.link-list-right ul li {
    list-style: none;
    padding-top: 1em;
}

.link-list-left ul li a {
    text-decoration: none;
    color: white;
}

.link-list-right ul li a {
    text-decoration: none;
    color: white;
}

.footer-outline {
    position: absolute;
    left: 2%;
    height: 2px;
    width: 90em;
    margin-top: 8em;
    background-color: white;
}



@keyframes infinteAnimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}


/* Responsive  */
/* Mobile */

@media screen and (max-device-width: 640px) {
    body{
        overflow-x: hidden;
        /* width: 100%; */
    }
    .body{
        overflow-x: hidden;
    }
    .ctnt-wrapper h2 {
        width: 20em;
    }


    .service-main-container {
        /* width: 100%; */
    }

    .footer-outline {
        width: 25em;
    }

    .home {
        height: 170vh;
    }

    .nav-bar-container-open {
        display: none;
    }

    .nav-bar-closed {
        display: block;
        position: fixed;
    }

    .hamburger-icon {

        display: block;

    }

    .nav-bar {
        background-color: black;
    }

    .about-us {
        height: 100vh;
    }

    .hero-img-home {
        position: absolute;
        margin-right: 33em;
        margin-top: 28em;
    }

    .hamburger-icon {
        position: absolute;
        left: 22em;
        margin-top: 0.8em;
    }

    .home-hero-ctnt {
        margin-top: 8em;
    }

    .nav-bar {
        height: 100vh;
        position: absolute;
        background-color: #0d2147;
        z-index: 2;
    }

    .nav-bar ul {
        margin-top: 6em;
        margin-left: -4em;
    }

    .nav-bar ul li a {
        display: inline-block;
        padding: -4em;
    }

    .home-btns {

        display: none;
    }

    .home-hero-txt h1 {
        font-size: 2.8em;
        margin-left: -0.8em;
        width: 8em;
    }

    .home-hero-txt h2 {
        font-size: 1.3em;
        margin-left: -1.6em;
        width: 15em;
    }

    .home-main-btns {
        margin-left: -2em;
    }

    .social-media {
        margin-top: 48em;
        position: absolute;
        margin-left: -90em;
        width: 26.5em;
        height: 5em;
    }

    .social-media ul li img {
        padding: 1.8em;
        margin-top: -1em;
    }

    .one-cloud-bg-txt {
        display: none;

    }

    .bg-grid-line-about-us {
        display: none;

    }

    .ctnt-wrapper {
        position: absolute;
        margin-left: -13em;
        margin-top: -2em;
    }

    .ctnt-wrapper h1 {
        width: 7em;
        font-size: 3em;
    }

    .ctnt-wrapper h2 {
        font-size: 1em;
        width: 20m;
    }

    .bg-overlay-txt-2 {
        position: absolute;
        margin-top: -1.5em;
    }

    .down-arrow {
        position: absolute;
        margin-top: 15em;
        margin-right: 5em;
        transform: scale(0.6);
    }

    .about-us {
        height: 40vh;
    }

    .services-main-txt-container {
        margin-left: 2em;
    }

    .services-main-txt-container h1 {
        font-size: 2.2em;
        width: 9em;
    }

    .services-main-txt-container h2 {
        font-size: 1.2em;
        width: 16em;
        margin-left: 0em;
    }

    .service-hero-img {
        position: absolute;
        margin-left: -61em;
        margin-top: -5em;
        transform: scale(0.5);
    }

    .service-hero-main-txt {

        position: absolute;
        margin-top: -2em;
        color: #065AFF;
    }

    .service-hero-txt-container {
        font-size: 0.75em;
    }

    .service-hero-main-txt-sub {
        position: absolute;
        margin-right: -1em;
        margin-top: -3em;
        font-size: 1.5em;
    }

    .service-hero-txt-container {
        margin-left: -4em;
    }

    .rtmp-img {
        position: absolute;
        margin-right: -13em;
        margin-top: -10em;
        transform: scale(0.75);
    }

    .rtmp-container-txt {
        margin-top: 25em;
        font-size: 0.5em;
    }

    .rtmp-container-txt h2 {
        font-size: 2em;
        width: 20em;
    }

    .srt-img {
        position: absolute;
        transform: scale(0.75);
        margin-left: -2em;
        margin-top: -8em;
    }

    .srt-container {
        height: 60vh;
        padding-right: -20em;
    }

    .srt-container-txt {
        position: absolute;
        margin-left: -30em;
        margin-top: 30em;
        font-size: 0.5em;
    }

    .srt-container-txt h2 {
        font-size: 2em;
        width: 20em;
    }

    .supported-formats h1 {
        padding-top: 2em;
        position: aboslute;
        margin-left: 0.5em;
        font-size: 2em;
    }

    .supported-formats {
        height: 50vh;
        min-width: 640px;
        overflow-x: hidden;
    }

    .end-page {
        height: 100vh;
    }

    .end-hero-txt-container {
        margin-top: 10em;
        position: absolute;
        margin-left: 1em;
        text-align: center;

    }

    .end-hero-txt-container h1 {
        font-size: 3em;
        width: 8em;
        text-align: center;
    }

    .end-hero-txt-container h2 {
        font-size: 1em;
        width: 22em;
        margin-left: 1em;
    }

    .end-btn-container {
        margin-top: em;
        font-size: 0.8em;
    }

    .end-hero-img {
        position: absolute;
        margin-top: 20em;
        transform: scale(0.7);
        margin-left: -6em;
    }

    .footer-btn {
        position: absolute;
        margin-top: 2em;
        margin-left: -12em;
        font-size: 1em;
    }

    .footer-outline {
        margin-top: 9em;
    }

    .footer-lower-container-right {
        position: absolute;
        margin-top: 2em;
        margin-right: 55em;
    }

    .link-list-left {
        margin-right: -2em;
    }

    .link-list-right {
        margin-left: 13em;
    }

    .footer-c {
        position: absolute;
        margin-top: 12em;
        font-size: 0.75em;
        opacity: 0.6;
        font-weight: 300;
        margin-top: 20em;
        margin-left: 3em;
    }


}

/* Tablet view */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .nav-bar-container-open {
        display: none;
    }

    .nav-bar-closed {
        display: block;
    }

    .hamburger-icon {
        display: block;
    }

}

@media screen and (max-device-width: 400px) {
    .nav-logo {
        position: absolute;
        margin-left: 0em;
    }
}

/*  Desktop View */
@media screen and (min-width: 1024px) {

    .footer-c {

        top: 40em;
        font-weight: 300;
        opacity: 0.5;
        mix-blend-mode: screen;
        margin-top: 7em;
        width: 100%;
        margin-left: calc(100% - 0%);
    }
}